*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
	background-color: #fafafa;
}
button {
	background-color: inherit;
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ===== HEADER =========================================================================================================*/
/* ===== HEADER =========================================================================================================*/

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479.98px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-weight: 700;
	font-size: 24px;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 991.98px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767.98px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479.98px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}
.menu {
	padding: 5px 0;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__item:hover {
	text-decoration: underline;
}
.menu__link {
	font-weight: 600;
	line-height: 1.71; /* 24/14 */
	color: #737373;
}

@media (max-width: 479.98px) {
	.menu__link {
		font-size: 18px;
	}
}

/* ===== PAGE =========================================================================================================*/
/* ===== PAGE =========================================================================================================*/

.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 3;
	margin-top: -111px;
}
.page__advantages {
}

/* ===== HEADER-BLOCK =========================================================================================================*/
/* ===== HEADER-BLOCK =========================================================================================================*/

.header-block {
	text-align: center;
	letter-spacing: 0.2;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.42;
}
.header-block__title:not(:last-child) {
	margin-bottom: 10px;
}
.header-block__sub-title {
	color: #737373;
	line-height: 1.42;
}
/* ===== MAIN =========================================================================================================*/
/* ===== MAIN =========================================================================================================*/

.main-block {
	position: relative;
}
.main-block__container {
}
.container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 991.98px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479.98px) {
	.main-block__body {
		padding: 100px 0px 170px 0px;
	}
}

.main-block__body > *:not(:last-child) {
	margin-bottom: 35px;
}
.main-block__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 1.38;
	letter-spacing: 0.2px;
}

@media (max-width: 479.98px) {
	.main-block__title {
		font-size: 42px;
	}
}

.main-block__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: #737373;
}
@media (max-width: 479.98px) {
	.main-block__text {
		color: #595959;
	}
}
.main-block__buttons {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.main-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 48px;
	border-radius: 37px;
	font-weight: 700;
	padding: 5px 36px;
	line-height: 2; /* 28/14 */
	transition: all 0.3s;
	height: 48px;
}
@media (max-width: 479.98px) {
	.main-block__button {
		flex: 1 1 auto;
	}
}

.main-block__button-orange {
	background: #ff7b47;
	color: #ffffff;
}
.main-block__button-orange:hover {
	background: #d15f32;
}
.main-block__button-border {
	border: 1px solid #0d5c63;
	color: #0d5c63;
}
.main-block__button-border:hover {
	border: 1px solid #093e43;
	color: #093e43;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 1150px) {
	.main-block__image {
		opacity: 0.5;
	}
}

/* ===== SERVICES =========================================================================================================*/
/* ===== SERVICES =========================================================================================================*/

.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
}
.services__column {
	flex: 0 1 33.33%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}
@media (max-width: 991.98px) {
	.services__column {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-color: #ffffff;
	padding: 35px;
}
@media (min-width: 479.98px) {
	.services__item {
		padding: 20px;
	}
}
.item-service {
	background-color: #ffffff;
}
.item-service_green {
	background-color: #0d5c63;
}
.item-service > *:not(:last-child) {
	margin-bottom: 10px;
}
.item-service__icon {
}
.item-service_green .item-service__title {
	color: #ffffff;
}
.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1;
	font-size: 24px;
	line-height: 1.33;
}
.item-service_green .item-service__text {
	color: #ffffff;
}
.item-service__text {
	font-weight: 500;
	line-height: 1.43;
	color: #737373;
}

/* ===== ADVANTAGES =========================================================================================================*/
/* ===== ADVANTAGES =========================================================================================================*/

.advantages {
	padding-top: 80px;
	padding-bottom: 80px;
}
.advantages__container {
}
.advantages__header {
}
.advantages__header:not(:last-child) {
	margin-bottom: 50px;
}
.advantages__body {
	display: flex;
	margin: 0px -15px;
	justify-content: space-between;
}
.advantages__column {
	padding: 0px 15px;
	flex: 0 1 25%;
}
.advantages__item {
	background-color: #ffffff;
	padding: 30px;
	text-align: center;
	font-weight: 700;
	height: 100%;
}
.advantages__item > *:not(:last-child) {
	margin-bottom: 10px;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 1.42;
}
.advantages__text {
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
}

/* ===== FOOTER =========================================================================================================*/
/* ===== FOOTER =========================================================================================================*/

.footer {
}
